@charset "utf-8";

:root{
  --theme-main-hue  : 290;
  --theme-sub-hue   : 290;
  --theme-accent-hue: 290;
  --theme-menu-hue: var(--theme-main-hue);
  --header-chroma: 0.05;
  --menu-icon-current-color   : #ffffff;
  --menu-icon-current-bg-color: oklch(45% 0.12 var(--theme-accent-hue));
  --icon--current-color: oklch(60% 0.1 var(--theme-accent-hue));
}
@media screen {
  .night {
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-moon.png);
  background-blend-mode: normal, hard-light;
  .night & {
    background-blend-mode: hard-light, hard-light;
  }
  @media screen and (width <= 735px){
    background-size: auto, 120%;
    background-position-x: 0, 5vw;
    background-position-y: 0, 110%;
  }
}
